@import './common';

.header{
  width: 100%;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0; top: 0;
  z-index: 10;
  h1{
    font-size: 5em;
    text-align: center;
    animation: parrot 7s infinite ease-in-out;
    animation-delay: 9s;
    cursor: pointer;
  }
  .burger{
    width: 3em;
    position: absolute;
    right: 5%; top: 4em;
    cursor: pointer;
    span{
      display: block;
      width: 100%;
      height: 4px;
      background-color: #fff;
      margin: 0.6em 0;
      transition: .4s;
    }
    &:hover{
      span:nth-of-type(1){background-color: rgba(252,176,69,1);}
      span:nth-of-type(2){background-color: rgba(253,29,29,1);}
      span:nth-of-type(3){background-color: rgba(58,75,180,1);}
    }
  }
}

@keyframes parrot {
  0%{transform: translate(0, 0);}
  5%{transform: translate(0, 0);}
  10%{transform: translate(0.1em, -0.2em) rotate(20deg);}
  15%{transform: translate(0,0);}
  45%{transform: translate(0,0);}
  50%{transform: translate(0, -0.1em) rotate(360deg);}
  55%{transform: translate(0,0) rotate(360deg);}
  100%{transform: translate(0,0) rotate(360deg);}
}

.mainMenu{
  width: 10em;
  height: 100vh;
  position: absolute;
  right: 0; top: 0;
}

.subMenu{
  width: 5em;
  position: absolute;
  left: calc(50% - 2.5em); top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
  a{
    display: block;
    padding: 0.5em 1em;
    background-color: #fff;
    border-radius: 3em;
    color: rgba(253,29,29,0.5);
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 10px;
  }
}
.subMenu.active{
  opacity: 1;
  transform: translateY(7em);
}

.footer{
  width: 100%;
  padding: 3em 0;
  p{
    text-align: center;
    color: #fff;
    font-family: $nanum;
  }
}