@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Nanum+Gothic:wght@400;700;800&display=swap");
body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

image {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.material-icons-outlined {
  font-family: 'Material Icons';
}

main {
  position: relative;
}

main .bgWrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
}

main .bgWrap .bg {
  width: 500vw;
  height: 500vw;
  position: absolute;
  left: calc(50% - 250vw);
  top: calc(50% - 250vw);
  background: #3a4bb4;
  background: linear-gradient(-45deg, rgba(58, 75, 180, 0.5) 40%, rgba(253, 29, 29, 0.5) 50%, rgba(252, 176, 69, 0.5) 60%);
  -webkit-animation: wave2 9s infinite linear;
          animation: wave2 9s infinite linear;
}

@-webkit-keyframes wave2 {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  10% {
    -webkit-transform: scale(100%) translate(-10vw, -10vw) rotate(10deg);
            transform: scale(100%) translate(-10vw, -10vw) rotate(10deg);
  }
  20% {
    -webkit-transform: scale(80%) translate(-30vw, -30vw) rotate(30deg);
            transform: scale(80%) translate(-30vw, -30vw) rotate(30deg);
  }
  30% {
    -webkit-transform: scale(100%) translate(0, 0) rotate(10deg);
            transform: scale(100%) translate(0, 0) rotate(10deg);
  }
  40% {
    -webkit-transform: scale(80%) translate(10vw, 10vw) rotate(-10deg);
            transform: scale(80%) translate(10vw, 10vw) rotate(-10deg);
  }
  50% {
    -webkit-transform: scale(50%) translate(25vw, 25vw) rotate(-30deg);
            transform: scale(50%) translate(25vw, 25vw) rotate(-30deg);
  }
  60% {
    -webkit-transform: scale(100%) translate(0vw, 0vw) rotate(-60deg);
            transform: scale(100%) translate(0vw, 0vw) rotate(-60deg);
  }
  70% {
    -webkit-transform: scale(80%) translate(-10vw, -10vw) rotate(-50deg);
            transform: scale(80%) translate(-10vw, -10vw) rotate(-50deg);
  }
  80% {
    -webkit-transform: scale(50%) translate(0, 0) rotate(-30deg);
            transform: scale(50%) translate(0, 0) rotate(-30deg);
  }
  85% {
    -webkit-transform: scale(100%) translate(0, 0) rotate(20deg);
            transform: scale(100%) translate(0, 0) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@keyframes wave2 {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  10% {
    -webkit-transform: scale(100%) translate(-10vw, -10vw) rotate(10deg);
            transform: scale(100%) translate(-10vw, -10vw) rotate(10deg);
  }
  20% {
    -webkit-transform: scale(80%) translate(-30vw, -30vw) rotate(30deg);
            transform: scale(80%) translate(-30vw, -30vw) rotate(30deg);
  }
  30% {
    -webkit-transform: scale(100%) translate(0, 0) rotate(10deg);
            transform: scale(100%) translate(0, 0) rotate(10deg);
  }
  40% {
    -webkit-transform: scale(80%) translate(10vw, 10vw) rotate(-10deg);
            transform: scale(80%) translate(10vw, 10vw) rotate(-10deg);
  }
  50% {
    -webkit-transform: scale(50%) translate(25vw, 25vw) rotate(-30deg);
            transform: scale(50%) translate(25vw, 25vw) rotate(-30deg);
  }
  60% {
    -webkit-transform: scale(100%) translate(0vw, 0vw) rotate(-60deg);
            transform: scale(100%) translate(0vw, 0vw) rotate(-60deg);
  }
  70% {
    -webkit-transform: scale(80%) translate(-10vw, -10vw) rotate(-50deg);
            transform: scale(80%) translate(-10vw, -10vw) rotate(-50deg);
  }
  80% {
    -webkit-transform: scale(50%) translate(0, 0) rotate(-30deg);
            transform: scale(50%) translate(0, 0) rotate(-30deg);
  }
  85% {
    -webkit-transform: scale(100%) translate(0, 0) rotate(20deg);
            transform: scale(100%) translate(0, 0) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

.textWrap {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textWrap h2 {
  padding: 0 0.5em;
  color: #fff;
  font-size: 8em;
  margin-top: 1em;
  font-weight: 700;
  position: relative;
  cursor: default;
}

.textWrap h2 .textBg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 0.5em;
  z-index: -1;
  overflow: hidden;
}

.textWrap h2 .textBg .textBox {
  position: absolute;
  border-radius: 50%;
}

.textWrap h2 .textBg .textBox1 {
  width: 2.5em;
  height: 2.5em;
  background-color: #fcb045;
  -webkit-transition: .6s;
  transition: .6s;
}

.textWrap h2 .textBg .textBox2 {
  width: 2em;
  height: 2em;
  background-color: #fd1d1d;
  -webkit-transition: .4s;
  transition: .4s;
}

.textWrap h2 .textBg .textBox3 {
  width: 1.5em;
  height: 1.5em;
  background-color: #3a4bb4;
  -webkit-transition: .2s;
  transition: .2s;
}

.clockWrap {
  padding: 1.5em;
  position: absolute;
  right: 3em;
  bottom: 0em;
  cursor: default;
}

.clockWrap p {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  color: #fff;
}

.clockWrap .calendar {
  margin-bottom: 10px;
}

.clockWrap .calendar .day1 {
  font-size: 0.9em;
  vertical-align: middle;
}

.clockWrap .calendar .day2 {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin-left: 10px;
  border-radius: 0.5em;
  font-size: 0.8em;
  vertical-align: middle;
}

.clockWrap .clock {
  font-size: 1.5em;
}

.title {
  position: absolute;
  left: 0em;
  top: 60%;
  font-size: 1em;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.2em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.title a {
  color: #fff;
}
/*# sourceMappingURL=index.css.map */