@import './common';


.animationTextWrap{
  width: 100%;
  height: 90vh;
  position: fixed;
  left: 0; top: 5vh;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p{
    text-align: center;
    font-size: 8em;
    font-weight: 700;
    transition: 4s;
  }
  .animationEn{
    transform: translateX(-200%);
    color: rgb(252,176,69);
  }
  .animationKo{
    transform: translateX(200%);
    color: rgb(58,75,180);
  }
  .animationJp{
    transform: translateX(-200%);
    color: rgb(253,29,29);
  }
}
.textWrap{
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    padding: 0 0.5em;
    color: #fff;
    font-size: 8em;
    margin-top: 1em;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    .textBg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0; top: 0;
      background-color: #fff;
      border-radius: 0.5em;
      z-index: -1;
      overflow: hidden;
      .textBox{
        position: absolute;
        border-radius: 50%;
      }
      .textBox1{
        width: 2.5em;
        height: 2.5em;
        background-color: rgb(252,176,69);
        transition: .6s;
      }
      .textBox2{
        width: 2em;
        height: 2em;
        background-color: rgb(253,29,29);
        transition: .4s;
      }
      .textBox3{
        width: 1.5em;
        height: 1.5em;
        background-color: rgb(58,75,180);
        transition: .2s;
      }
    }
  }
}

.clockWrap{
  padding: 1.5em;
  position: absolute;
  right: 3em; bottom : 0em;
  cursor: default;
  p{
    text-align: center;
    font-family: $nanum;
    font-weight: 600;
    color: #fff;
  }
  .calendar{
    margin-bottom: 10px;
    .day1{
      font-size: 0.9em;
      vertical-align: middle;
    }
    .day2{
      display: inline-block;
      padding: 0.2em 0.5em;
      margin-left: 10px;
      border-radius: 0.5em;
      font-size: 0.8em;
      vertical-align: middle;
    }
  }
  .clock{
    font-size: 1.5em;
  }
}

.title{
  position: fixed;
  left: 0em; top: 50%;
  font-size: 1em;
  font-family: $nanum;
  letter-spacing: 0.2em;
  transform: rotate(-90deg);
  color: #fff;
}