@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Nanum+Gothic:wght@400;700;800&family=Noto+Serif+KR:wght@400;700&display=swap");
body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

image {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.material-icons-outlined {
  font-family: 'Material Icons';
}

.animationTextWrap {
  width: 100%;
  height: 90vh;
  position: fixed;
  left: 0;
  top: 5vh;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animationTextWrap p {
  text-align: center;
  font-size: 8em;
  font-weight: 700;
  -webkit-transition: 4s;
  transition: 4s;
}

.animationTextWrap .animationEn {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  color: #fcb045;
}

.animationTextWrap .animationKo {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  color: #3a4bb4;
}

.animationTextWrap .animationJp {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  color: #fd1d1d;
}

.textWrap {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textWrap h2 {
  padding: 0 0.5em;
  color: #fff;
  font-size: 8em;
  margin-top: 1em;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.textWrap h2 .textBg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 0.5em;
  z-index: -1;
  overflow: hidden;
}

.textWrap h2 .textBg .textBox {
  position: absolute;
  border-radius: 50%;
}

.textWrap h2 .textBg .textBox1 {
  width: 2.5em;
  height: 2.5em;
  background-color: #fcb045;
  -webkit-transition: .6s;
  transition: .6s;
}

.textWrap h2 .textBg .textBox2 {
  width: 2em;
  height: 2em;
  background-color: #fd1d1d;
  -webkit-transition: .4s;
  transition: .4s;
}

.textWrap h2 .textBg .textBox3 {
  width: 1.5em;
  height: 1.5em;
  background-color: #3a4bb4;
  -webkit-transition: .2s;
  transition: .2s;
}

.clockWrap {
  padding: 1.5em;
  position: absolute;
  right: 3em;
  bottom: 0em;
  cursor: default;
}

.clockWrap p {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  color: #fff;
}

.clockWrap .calendar {
  margin-bottom: 10px;
}

.clockWrap .calendar .day1 {
  font-size: 0.9em;
  vertical-align: middle;
}

.clockWrap .calendar .day2 {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin-left: 10px;
  border-radius: 0.5em;
  font-size: 0.8em;
  vertical-align: middle;
}

.clockWrap .clock {
  font-size: 1.5em;
}

.title {
  position: fixed;
  left: 0em;
  top: 50%;
  font-size: 1em;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.2em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #fff;
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .animationTextWrap p {
    font-size: 5em;
  }
  .textWrap h2 {
    color: salmon;
    font-size: 5em;
  }
  .clockWrap {
    padding: 1.5em 0;
  }
  .clockWrap .calendar .day1 {
    font-size: 1em;
  }
  .title {
    left: -1em;
    top: 45%;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .animationTextWrap p {
    font-size: 4em;
  }
  .textWrap h2 {
    color: salmon;
    font-size: 3.5em;
  }
  .clockWrap {
    padding: 1.5em 0;
    right: 2em;
  }
  .clockWrap .calendar .day1 {
    font-size: 0.8em;
  }
  .clockWrap .calendar .day2 {
    font-size: 0.7em;
  }
  .clockWrap .clock {
    font-size: 1.2em;
  }
  .title {
    left: -4em;
    top: 47%;
    font-size: 0.9em;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .animationTextWrap p {
    font-size: 3em;
  }
  .textWrap h2 {
    color: salmon;
    font-size: 3em;
  }
  .clockWrap {
    padding: 1.5em 0;
    right: 2em;
    bottom: 1em;
  }
  .clockWrap .calendar .day1 {
    font-size: 0.8em;
  }
  .clockWrap .calendar .day2 {
    font-size: 0.7em;
  }
  .clockWrap .clock {
    font-size: 1.2em;
  }
  .title {
    left: -3em;
    top: 25%;
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=index.css.map */