@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Nanum+Gothic:wght@400;700;800&family=Noto+Serif+KR:wght@400;700&display=swap");
body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

image {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.material-icons-outlined {
  font-family: 'Material Icons';
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  10% {
    -webkit-transform: scale(100%) translate(-10vw, -10vw) rotate(10deg);
            transform: scale(100%) translate(-10vw, -10vw) rotate(10deg);
  }
  20% {
    -webkit-transform: scale(80%) translate(-20vw, -20vw) rotate(30deg);
            transform: scale(80%) translate(-20vw, -20vw) rotate(30deg);
  }
  30% {
    -webkit-transform: scale(100%) translate(0, 0) rotate(10deg);
            transform: scale(100%) translate(0, 0) rotate(10deg);
  }
  40% {
    -webkit-transform: scale(80%) translate(10vw, 10vw) rotate(-10deg);
            transform: scale(80%) translate(10vw, 10vw) rotate(-10deg);
  }
  50% {
    -webkit-transform: translate(15vw, 15vw) rotate(-30deg);
            transform: translate(15vw, 15vw) rotate(-30deg);
  }
  60% {
    -webkit-transform: translate(0vw, 0vw) rotate(-60deg);
            transform: translate(0vw, 0vw) rotate(-60deg);
  }
  70% {
    -webkit-transform: translate(-10vw, -10vw) rotate(-50deg);
            transform: translate(-10vw, -10vw) rotate(-50deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  85% {
    -webkit-transform: translate(0, 0) scale(100%);
            transform: translate(0, 0) scale(100%);
  }
  100% {
    -webkit-transform: translate(0, -40vh) scale(0);
            transform: translate(0, -40vh) scale(0);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  10% {
    -webkit-transform: scale(100%) translate(-10vw, -10vw) rotate(10deg);
            transform: scale(100%) translate(-10vw, -10vw) rotate(10deg);
  }
  20% {
    -webkit-transform: scale(80%) translate(-20vw, -20vw) rotate(30deg);
            transform: scale(80%) translate(-20vw, -20vw) rotate(30deg);
  }
  30% {
    -webkit-transform: scale(100%) translate(0, 0) rotate(10deg);
            transform: scale(100%) translate(0, 0) rotate(10deg);
  }
  40% {
    -webkit-transform: scale(80%) translate(10vw, 10vw) rotate(-10deg);
            transform: scale(80%) translate(10vw, 10vw) rotate(-10deg);
  }
  50% {
    -webkit-transform: translate(15vw, 15vw) rotate(-30deg);
            transform: translate(15vw, 15vw) rotate(-30deg);
  }
  60% {
    -webkit-transform: translate(0vw, 0vw) rotate(-60deg);
            transform: translate(0vw, 0vw) rotate(-60deg);
  }
  70% {
    -webkit-transform: translate(-10vw, -10vw) rotate(-50deg);
            transform: translate(-10vw, -10vw) rotate(-50deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  85% {
    -webkit-transform: translate(0, 0) scale(100%);
            transform: translate(0, 0) scale(100%);
  }
  100% {
    -webkit-transform: translate(0, -40vh) scale(0);
            transform: translate(0, -40vh) scale(0);
  }
}

.intro {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 999;
}

.box {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.box .bg {
  width: 500vw;
  height: 500vw;
  position: absolute;
  left: calc(50% - 250vw);
  top: calc(50% - 250vw);
  border-radius: 50%;
  background: #3a4bb4;
  background: linear-gradient(-45deg, #3a4bb4 40%, #fd1d1d 50%, #fcb045 60%);
  -webkit-animation: wave 9s forwards linear;
          animation: wave 9s forwards linear;
}

.box .text {
  position: absolute;
  width: 100%;
  height: 3em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  color: #fff;
  font-size: 3em;
  opacity: 0;
  -webkit-animation: fade 1.5s forwards linear;
          animation: fade 1.5s forwards linear;
}

.box .sq1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.box .sq2 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box .sq3 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.box .sq4 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.box .skip {
  position: absolute;
  right: 5%;
  bottom: 3rem;
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-family: "Nanum Gothic", sans-serif;
  pointer-events: fill;
  cursor: pointer;
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .box .text {
    font-size: 2em;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .box .text {
    font-size: 1.5em;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .box .text {
    font-size: 1em;
  }
  .box .skip {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=intro.css.map */